<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT</title>
</head>
<body>
  <form th:method="PATCH" th:action="@{/app/warrior/{id}(id=${warrior.getId()})}" th:object="${warrior}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <br/>
    <label for="HP">Enter HP: </label>
    <input type="text" th:field="*{healthPoint}" id="HP">
    <div style="color: red" th:if="${#fields.hasErrors('healthPoint')}" th:errors="*{healthPoint}"></div>
      <br/>
    <label for="weapon">Enter weapon: </label>
    <input type="text" th:field="*{weapon}" id="weapon">
    <div style="color: red" th:if="${#fields.hasErrors('weapon')}" th:errors="*{weapon}"></div>
      <br/>
    <input type="submit" value="Update">
  </form>
</body>
</html>