<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALL WARRIORS</title>
</head>
<body>
    <div th:each="warrior : ${warriors}">
        <a th:href="@{/app/warrior/{id}(id=${warrior.getId})}" th:text="${'Name: '+ warrior.getName()+' HP: '+warrior.getHealthPoint+' Weapon: '+warrior.getWeapon}"></a>
    </div>
    <br/>
    <hr/>
    <form th:method="GET" th:action="@{/app/warrior/new}">
        <input type="submit" value="Create new">
    </form>
</body>
</html>